
/*********MOBILE FIRST*********/ 
/*******under 576px **********/

.macro-top{
    display: flex;
}

/* sidebar */
.side-bar{
    display: flex;
    flex-direction: column;
    background-color: black;
    color: aliceblue;
    height: 100%;
    flex-shrink: 0;
    padding: 10px;
}
.logo{
    padding: 0 10px;
}
.logo #logo-small {
    display: block;
    width: 30px;
    height: 30px;
    
} 

.logo #logo{
    display: none;
}

.profile{
    margin-top: auto;
    background-color: aqua;
}
.playlist{
    display: none;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: hidden;
    background-color: chartreuse;

}
/* main */
.upgrade{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}
.up-btn{
    margin: 20px;
    padding: 10px 30px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}


/* FOOTER */
.bot-bar{
    width: 100%;
}


@media screen and (min-width:576px) {
    .side-bar{
        width: 230px;
        padding: 20px 0 10px 0;
    }
    .logo #logo-small{
        display: none;
    }

    .logo #logo{
        display: block;
        width: 132px;
    }
   

    .playlist{
        display: flex;
    }


    .upgrade{
        width: calc(100% - 230px);
    }
    
}
@media screen and (min-width:768px) {
    
}
@media screen and (min-width:992px) {
    
}
@media screen and (min-width:1200px) {
    
}