
/*********MOBILE FIRST*********/ 
/*******under 576px **********/
.side-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
    position: sticky;
    width: 10%;
    height: 100vh;
    z-index: 2;
}
.top-img{
    margin: 12px ;
}
#menu{
    padding: 5px;
}
.upgrade{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
}
.up-btn{
    margin: 20px;
    padding: 10px 30px;
    color: white;
    border: 1px solid white;
    background-color: transparent;
}
